* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #fff7f2;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.navbar-logo .logo {
    height: 120px;
}

.section-name {
    display: flex;
    gap: 35px;
}

.section-name a {
    color: #000000;
}

.section-name i {
    font-size: 24px;
    padding: 10px 15px;
}

.section-name a:hover {
    color: #009688;
}

.section-name h2 {
    margin: 0;
    padding: 10px 15px;
    font-size: 19px;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .section-name {
        flex-direction: column;
        width: 100%;
    }
    
    .section-name h2 {
        width: 100%;
        text-align: left;
    }
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

section {
    padding: 50px 0;
    text-align: center;
    background-color: #FFF7F2;
    display: flex;
    align-items: center;
}

.end-section {
    height: 0.5px;
}

.container {
    padding: 20px;
    margin-left: 20%;
    margin-right: 10%;
}

.name {
    display: inline-block;
    font-size: 3em;
    position: relative;
}

.wave-hand {
    animation: wave 2s infinite;
    display: inline-block;
}

@keyframes wave {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-20deg);
    }
}

.icon {
    margin-top: 20px;
}

.icon a {
    margin-left: 20px;
    font-size: 24px;
}

.icon a:hover {
    color: #BB7E8C;
}

.emote {
    padding: 20px;
    margin-left: 20px;
}

@media (max-width: 768px) {
    section {
        padding: 30px 0;
    }
}

/* education */

#education {
    height: 100vh
}

.ed-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.big-4 {
    font-size: 2.5em;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

.underline {
    width: 1000px;
    height: 2px;
    background-color: #BB7E8C;
    margin: 10px auto 0 auto;
    position: relative;
    top: -10px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.ed-box {
    background-color: #009688;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    flex: 1;
    min-width: 300px;
    max-width: 45%;
    box-shadow: 3px 3px 8px #BB7E8C;
}

.ed-box-in {
    text-align: left;
}

.date {
    font-size: 1.2em;
    color: #1B2021;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.university {
    font-size: 1em;
    color: #fff;
}

@media (max-width: 768px) {
    .ed-box {
        max-width: 100%;
    }
}

/* skill */

#skills {
    height: 100vh
}

.sk-container {
    width: 80%;
    margin: 0 auto;
}

.skill-container-box {
    /* border: 2px solid #000000;
    border-radius: 10px; */
    padding: 20px;
}


.skill-box {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 30px;
    justify-content: center;
    gap: 100px;
    
}

.skill-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    box-shadow: 3px 3px 8px #BB7E8C;
}

.skill-name img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.skill-name p {
    font-size: 1.2rem;
    color: #333;
}

.skill-name:hover {
    transform: scale(1.1);
}

/* Experence */

#experinece{
    height: 100vh
}
.ex-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    height: 500px
}

.big-4 {
    font-size: 2.5em;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}


.underline {
    width: 800pxpx;
    height: 2px;
    background-color: #BB7E8C;
    margin: 10px auto 0 auto;
    position: relative;
    top: -10px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.ex-box {
    background-color: #009688;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    flex: 1;
    min-width: 300px;
    max-width: 45%;
    box-shadow: 3px 3px 8px #BB7E8C;
}

.ex-box-in {
    text-align: left;
}

.animation-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


@media (max-width: 768px) {
    .ed-box {
        max-width: 100%;
    }
}

/* Projects */
#projects{
    height: 100vh
}
.project-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.project-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.project-card {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    height: 200px;
    transition: transform 0.3s;
    margin: 5px;
    cursor: pointer;
    box-shadow: 3px 3px 8px #BB7E8C;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 20px;
    box-sizing: border-box;
}

.project-card:hover .overlay {
    opacity: 1;
}


.icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.icon-link {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
}

.bottom-text {
    position: absolute;
    bottom: 0px;
    left: 10px; 
    color: #fff;
    line-height: 0.5;
    white-space: pre-wrap;
    opacity: 0;
    transition: opacity 0.3s;
}

.project-card:hover .bottom-text {
    opacity: 1;
}

.bottom-text .line1 {
    font-size: 1.2em;
    font-weight: bold;
}

.bottom-text .line2 {
    font-size: 0.9em;
}

/* Contact me */
#contact{
    height: 100vh
}
.contact-container {
    text-align: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto; /* Center the section horizontally */
    padding: 20px;
    border-radius: 10px;
}

.contact-container h1 {
    color: #009688;
    font-size: 2em;
    margin-bottom: 10px;
}

.contact-section p {
    color: #6c757d;
    font-size: 1em;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    gap: 100px; /* Adjust gap between the fields */
    justify-content: center; /* Center the fields horizontally */
    margin-bottom: 20px; /* Space between input-group and message textarea */
}

.form-group {
    flex: 1; /* Make sure each form-group takes up equal space */
    text-align: left; /* Align labels and inputs to the left */
}

.form-group label {
    display: block;
    color: #009688;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #009688;
    background: none;
    font-size: 1em;
    color: #333;
}


.form-group input:focus, .form-group textarea:focus {
    border-color: #009688;
    outline: none;
}


textarea {
    resize: vertical;
    height: 100px;
}

button {
    background-color: white;
    color: #009688;
    border: 2px solid #009688;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px; /* Add margin to separate from form elements */
}

button:hover {
    background-color: #009688;
    color: white;
}



footer {
    background-color: #009688;
    color: #000000;
    padding: 20px 0;
    text-align: center;

    width: 100%;
    bottom: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.footer p {
    margin: 0;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer a {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
    position: absolute;
    right: 20px;
}

.footer a:hover {
    color: #ddd;
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        gap: 10px;
    }
    .footer p {
        position: static;
        transform: none;
        text-align: center;
    }
    .footer i {
        position: static;
    }
}
